<div >
    <form method = "POST" action="/recipes/recipes/new">
<label>
    Title:
    <input type =text name = 'title'>

</label>
<label>
    Ingredients:
    
    <input type =text name = 'ingredients'>

</label>
<label>
    Difficulty:

    <input type =text name ='difficulty'>
 
</label>

<label>
    
    <input type =text name = 'Dish'>

</label>
<button > Create New</button>
    </form>
    </div>
    