<div >
    <form method = "POST" action="/recipes/recipes/new">
<label style = "font-size: 50px;">
    Title:
    <input type =text name = 'title'>

</label>
<label style = "font-size: 50px;">
    Ingredients:
    
    <input type =text name = 'ingredients'>

</label>
<label style = "font-size: 50px;">
    Difficulty:

    <input type =text name ='difficulty'>
 
</label>

<label style = "font-size: 50px;"> Dish:
    
    <input type =text name = 'Dish'>

</label>
<button > Create New</button>
    </form>
    </div>
    