<h1> Your Profile Page </h1>
<h2>Welcome <%- user.username %></h2>
<div>
<p> What Do You Want To Eat Today!!!? </p>
<p> No Ideas!!!? </p>
<p> Let Us Help You </p>

<a href ='/recipes/recipes/new'>

  Create New
</a>
</div>

<div class="row">
    <div class="column">
      <div class="card">Chicken</div>
    </div>
    <div class="column">
      <div class="card">Fish</div>
    </div>
    <div class="column">
      <div class="card">Meat</div>
    </div>
    <div class="column">
      <div class="card">Desserts</div>
    </div>
  </div>

 <form method="GET" action="/recipes">
  <button style=" color: green" type="submit">Recipes</button>
</form>
<form method="GET" action="/logout">
  <button style="color: red" type="submit">Logout</button>
 
  </form>