<h1>sign up</h1>
<form action="/signup" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" value="">
    <br>
    <label for="username">Email:</label>
    <input type="text" name="email" id="email" value="">
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" value="">
    <br>
    <button style="color: red" type="submit">Sign up!</button>
</form>