<div >
    <form method = "POST" action="/recipes/<%= recipeFound._id%>/update">
<label style="font-size: 60px;">
    Title:
    <input type =text name = 'title'>

</label>
<label style="font-size: 60px;">
    Ingredients:
    
    <input type =text name = 'ingredients'>

</label >
<label style="font-size: 60px;">
    Difficulty:

    <input type =text name ='difficulty'>
 
</label>

<label style="font-size: 60px;">
    Dish
    
    <input type =text name = 'Dish'>

</label>
<button > Update</button>
    </form>
    </div>
    