<div >
    <form method = "POST" action="/recipes/<%= recipeFound._id%>/update">
<label>
    Title:
    <input type =text name = 'title'>

</label>
<label>
    Ingredients:
    
    <input type =text name = 'ingredients'>

</label>
<label>
    Difficulty:

    <input type =text name ='difficulty'>
 
</label>

<label>
    Dish
    
    <input type =text name = 'Dish'>

</label>
<button > Update</button>
    </form>
    </div>
    